body{
    background-image: url("download (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;




}
#title{
    color: rgb(16, 10, 32);
    font-size:xx-large;
    font-style: italic;
    text-align: center;
}
#description{
 
    justify-content: left;
    font-size: 17px;
}
.container{
    width: 60%;
    background-color: lightgrey;
    padding: 30px;
    margin: auto;
    opacity: 85%;
}
.Form-group{
    width:100%;
    height: 30px;
    margin-bottom: 5px;
    display: block;
}
.radio , .checkbox{
    display: inline-block;
}
textarea{
    padding: 70px;
    background-color: rgb(158, 155, 140);
    width: 80%;
}
#submit{
    margin: auto;
    display: flex;
    width: 60%;
    text-align: center;
}

